body{
    width:100vw;
    height: 100vh;
    background-color: rgb(200, 230, 217);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(53, 81, 99);
    text-align: center;
}
body img{
    border-radius: 15px;
}
header{
    padding: 20px;
    padding-top: 30px;
    position: relative;
    display: flex;
    border-bottom: lightblue solid 5px;
}
/* .sub_menu{
    width: 97px;
    height: 100px;
    background-color: #ddd;
    position: absolute;
    bottom: -32px;
    right: 25px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sub_menu a {
    color: #333;
    text-decoration: none;
    display: block;
    padding-top: 10px;
}
.sub_menu a:hover{
    background-color: #333;
    color:#ddd;
    border: #333 solid 1px;
} */
section{
    /* color: aliceblue; */
    font-size: 25px;
}
.container h1{
    font-size: 50px;
    color: black;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}
/* nav bar */
.navbar {
    /* overflow: hidden; */
    background-color: #333;
    position: absolute;
    right: 40px;
    border-radius: 5px;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  .subnav {    
    float: left;
    overflow: hidden;    
  }
  
  .subnav .subnavbtn {
    font-size: 14px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;    
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn{
    background-color:#ddd;
    color: #333;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ddd;
    color: #333;
    width: 100%;
    z-index: 1;    
  }
  
  .subnav-content a {
    float: left;
    color: #333;
    background-color: #ddd;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #333;
    color: #ddd;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
/* .menu{
    margin-top: 30px;
    overflow: hidden;
    background-color: #333;
    height: 40px;
    /* width: max-content; 
    line-height: 40px;
    border-radius: 8px;
    position: absolute;
    right: 30px;    
}
.menu a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}
.menu a:hover{
    background-color: #ddd;
    color: black;
}
.menu a.active{
    background-color: #04AA6D;
    color: white;
} */

/* Promo */
.promo{
    width: 95%;
    min-height: 60%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgb(143, 145, 140); */
    text-align: center;
    display: flex;
    justify-content: center;
    
    margin-bottom: 80px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.promo, .category{
    margin-left: auto;
    margin-right: auto;
    /* border:#333 solid 1px;
    border-radius: 20px; */
}
.box{
    width: 39vw;
    height: 23vw;
    margin: 10px;
    border-radius: 10px;
    background-color: azure;
    padding-bottom:80px;
    position: relative;
}
.box div img{
    position: absolute;
    bottom: -10vw;
    right: -3vw;
    width: 13vw;
    height: 18vw;
    z-index: 3;
}
.box img{
    width: 39vw;    
    height: 25.5vw;
    /* padding-top: .5vw; */
}
.sign{    
    font-size: 3.5vw;
    font-weight: 600;
    padding-top: 120px;
    visibility: hidden;   
}
.sign h3{
    width:60px;
    height: 60px;
    line-height: 60px;
    background-color: rgb(139, 135, 135);
    color: #eff3ee;
    text-align: center;
    border-radius: 5px;    
}
/* .promo:hover>.sign show .sign class inside  promo on hover */
.promo:hover>.sign {
    visibility: visible;
}

/* Category */
.category{
    width: 95%;
    min-height: 70%;
    background-color: rgb(95, 96, 95);
    display: flex;
    justify-content: center;    
    margin-bottom: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-wrap: wrap;
    border-radius: 20px;
}
/* .cat register grey area */
.cat{
    width: 100%;
    min-height: 20%;
    background-color: rgba(5, 5, 5, 0.363);
    display: flex;
    justify-content: center;   
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 30px;
    flex-wrap: wrap;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
.box-small h3{
    padding-bottom:30px;
    font-size: 20px;
}
.box-small{
    width: 20vw;
    height: 13vw;
    margin: 10px;
    border-radius: 10px;
    background-color:azure;
    padding-bottom: 50px;
    
}
.box-small img{
    width: 19.5vw;    
    height: 14vw;
    padding-top: .5vw;
}
.box-small h3, .box h3{
    margin-top: 3px;
    margin-bottom: 3px;
}
/* Footer Table */
div.tbl_list{
   display: flex;
   font-size: 15px;
   color: #ddd;
}
.tbl_shops, .tbl_goods, .tbl_services{
    padding-right: 50px;    
}
td{
    padding-right: 20px;
    text-align: left;
    color: white;
}

/* filter */
.filter{
    width: 100%;
    min-height:4%;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: lightblue solid 5px;
    background-color: #04AA6D;
    font-size: 15px;
}
filter input, select{
    width: 50vw;
    height: 3vw;
    border-radius:7px;
    border: green solid 2px;
    font-size: 20px;
    font-weight: 500;
} 
form input, form select{
    margin-right: 10px;
}
.filter form input{
    width: 20vw;
    height: 28px;
    border-radius:7px;
    border: green solid 2px;
    font-size: 15px;
    font-weight: 500;
    color: #333;
}
.filter form button{
    height: 35px;
    width: 80px;
}
.filter form select {
    height: 33px; 
    font-size: 15px;  
    color: #333; 
}
.reg form {
    position: relative;    
}
.reg form input {
    height: 23px;
    width: 30vw;
    border-radius:7px;
    border: green solid 2px;
    font-size: 15px;
    font-weight: 500;
    margin: 10px;   
     
}
.reg form .input_last input{
    width: 24vw;
    
}
.reg form .input_last button{
    font-size: 12px;
    width: 70px;
    height: 35px;
    margin-left: 0;
    
}
.input_last{
    display: block;
    margin-top: 30px;
    text-align: left;
}
form div{
    margin-top: 30px;
    position: absolute;
    right: 40px;
    bottom: -10px;    
}

.reg form p select {
    height: 30px;
    width: 30vw;
    margin: 10px;
    font-size: 15px;  
    color: #333;
    margin-left: 10px;
}
form button {
    width:6vw;
    height: 2.5vw;
    border-radius:7px;
    background-color:#333;
    border:#04AA6D solid 1px;
    color: white;
    font-size: 16px;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form select{
    width: 20vw;
    height: 2.5vw;
    border-radius:7px;
    border: green solid 2px;
    font-size: 20px;
    font-weight: 500;
}
/* table */
#table, #tables, #tbl, .table{
    width: 95%;
    background-color: lightblue;
    margin: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}
 .reg {
    width: 50%;
    background-color: lightblue;
    margin: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400; 
    padding-bottom: 30px;   
 }
 .reg form select{
    width: 21vw;
    font-size: 15px;
 }
 .reg form{
    display: table;
    padding: 30px;
 }
 .reg p{
    display: table-row;
 }
 .reg form label, .reg form input, .reg form select {
    text-align: left;
    display: table-cell;
 }

 .tab{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px;
    table-layout: fixed;   
 }
 /* table.tab,tr,th,td{
    width: 30%;
    white-space: pre;
 }  */

 td {
    width: 15vw;
    color: rgb(5, 5, 5);
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 40px;
    white-space: pre;
    font-size: 20px;
    margin-right: 10px;
    overflow:auto;
 } 
tr:nth-child(even) {
    background-color: #eee4e4
  }
tr:nth-child(odd) {
background-color: #c7c8c7
}
/* status */

.reg #status_fail, .reg #status_suc{
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    display: none; 
}
.reg #status_fail em, .reg #status_suc em{
    margin-top: 20px;
    margin-left: 20px;
}
