body{
    width:100vw;
    height: 100vh;
    background-color: rgb(200, 230, 217);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(53, 81, 99);
    text-align: center;
}
body img{
    border-radius: 15px;
}
header{
    padding: 20px;
    padding-top: 30px;
    position: relative;
    display: flex;
    border-bottom: lightblue solid 5px;
}
section{
    /* color: aliceblue; */
    font-size: 25px;
}
.container h1{
    font-size: 50px;
    color: black;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}
.search{
    padding-left: 5vw;
    padding-top: 1vw;
    padding-bottom: 30px;
    padding-top: 70px;
}
.search input, filter input, select{
    width: 50vw;
    height: 3vw;
    border-radius:7px;
    border: green solid 2px;
    font-size: 20px;
    font-weight: 500;
}
.search button {
    width:8vw;
    height: 3.6vw;
    border-radius:7px;
    background-color: #04AA6D;
    border:#04AA6D solid 1px;
    color: white;
    font-size: 25px;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.search button:hover{
    background-color: #ddd;
    color:black;
}
/* menu */
.menu{    
    margin-top: 30px;
    overflow: hidden;
    background-color: #333;
    height: 40px;
    /* width: max-content; */
    line-height: 40px;
    border-radius: 8px;
    position: absolute;
    right: 30px;    
}
.menu a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}
.menu a:hover{
    background-color: #ddd;
    color: black;
}
.menu a.active{
    background-color: #04AA6D;
    color: white;
}

/* Promo */
.promo{
    width: 95%;
    min-height: 60%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgb(143, 145, 140); */
    text-align: center;
    display: flex;
    justify-content: center;
    
    margin-bottom: 80px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.promo, .category{
    margin-left: auto;
    margin-right: auto;
    /* border:#333 solid 1px;
    border-radius: 20px; */
}
.box{
    width: 39vw;
    height: 23vw;
    margin: 10px;
    border-radius: 10px;
    background-color: azure;
    padding-bottom:80px;
    position: relative;
}
.box div img{
    position: absolute;
    bottom: -10vw;
    right: -3vw;
    width: 13vw;
    height: 18vw;
    z-index: 3;
}
.box img{
    width: 39vw;    
    height: 25.5vw;
    /* padding-top: .5vw; */
}
.sign{    
    font-size: 3.5vw;
    font-weight: 600;
    padding-top: 120px;
    visibility: hidden;   
}
.sign h3{
    width:60px;
    height: 60px;
    line-height: 60px;
    background-color: rgb(139, 135, 135);
    color: #eff3ee;
    text-align: center;
    border-radius: 5px;    
}
/* .promo:hover>.sign show .sign class inside  promo on hover */
.promo:hover>.sign {
    visibility: visible;
}

/* Category */
.category{
    width: 95%;
    min-height: 70%;
    background-color: rgb(95, 96, 95);
    display: flex;
    justify-content: center;
    padding-top: 30px;    
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 80px;
    flex-wrap: wrap;
    border-radius: 20px;
}
.box-small h3{
    padding-bottom:30px;
    font-size: 20px;
}
.box-small{
    width: 20vw;
    height: 13vw;
    margin: 10px;
    border-radius: 10px;
    background-color:azure;
    padding-bottom: 50px;
    
}
.box-small img{
    width: 19.5vw;    
    height: 14vw;
    padding-top: .5vw;
}
.box-small h3, .box h3{
    margin-top: 3px;
    margin-bottom: 3px;
}
/* Footer Table */
.tbl_list{
   display: flex; 
}
.tbl_shops, .tbl_goods, .tbl_services{
    padding-right: 50px;
}
td{
    padding-right: 20px;
    text-align: left;
    color: white;
}

/* filter */
.filter{
    width: 100%;
    min-height:4%;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: lightblue solid 5px;
    background-color: #04AA6D;
    font-size: 25px;
}
form input, form select{
    margin-right: 10px;
}
form input {
    width: 20vw;
    height: 2vw;
    border-radius:7px;
    border: green solid 2px;
    font-size: 15px;
    font-weight: 500;
}
form button {
    width:6vw;
    height: 2.5vw;
    border-radius:7px;
    background-color:#333;
    border:#04AA6D solid 1px;
    color: white;
    font-size: 16px;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form select{
    width: 20vw;
    height: 2.5vw;
    border-radius:7px;
    border: green solid 2px;
    font-size: 20px;
    font-weight: 500;
}
/* table */
.table{
    width: 95%;
    background-color: lightblue;
    margin: 40px;
    border-radius: 10px;
}
 td {
    color: rgb(77, 72, 78);
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 40px;
 }
td {
    margin-right: 10px;
}