{% extends "base.html" %}

{% block content %}
<h1>{% block title %} Product Registration {% endblock %}</h1>
<section class="container">    
    <div class="cat">
        <div class="reg">
            <form action="" id="add_product" enctype="multipart/form-data">
                <p>
                    <label for="pname">Product:</label>
                    <input type="text" id="pname"  name="pname" placeholder="Product Name">
                </p>
                <p>
                    <label for="pbrand">Brand:</label>
                    <input type="text" id="pbrand"  name="pbrand" placeholder="Brand">
                </p>
                <p>
                    <label for="pmodel">Model:</label>
                    <input type="text" id="pmodel"  name="pmodel" placeholder="Model">
                </p>
                <p>
                    <label for="pcategory">Category:</label>
                    <select name="pcategory" id="pcategory">
                        <option value="Electornics">Electornics</option>                        
                        <option value="Machinary">Machinary</option>
                        <option value="Vehicle">Vehicle</option>
                        <option value="Clothing">Clothing</option>
                        <option value="Furniture">Furniture</option>
                        <option value="Building">Building</option>
                        <option value="Spare Part">Spare Part</option>
                        <option value="Art">Art</option>
                        <option value="Construction Material">Construction Material</option>
                        <option value="Electric Material">Electric Material</option>
                        <option value="Musical Instrument">Musical Instrument</option>
                        <option value="Food and Begerage">Food and Begerage</option>
                    </select>
                </p>
                <p>
                    <label for="pmdate">Manufature Date:</label>
                    <input type="date" id="pmdate"  name="pmdate" placeholder="Man. Date">
                </p>                
                <p>
                    <label for="pstatus">Status:</label>
                    <select name="pstatus" id="pstatus">
                        <option value="New">New</option>                        
                        <option value="Slightly Used">Slightly Used</option>
                        <option value="Used">Used</option>
                    </select>
                </p>
                <p>
                    <label for="pquality">Status:</label>
                    <select name="pquality" id="pquality">
                        <option value="Original">Original</option>                        
                        <option value="Copy">Copy</option>
                    </select>
                </p>      
                <p>
                    <label for="pprice">Unit Price:</label>
                    <input type="text" id="pprice"  name="pprice" placeholder="Unit Price">
                </p>
                <p>
                    <label for="pshop">Seller:</label>
                    <select name="pshop" id="pshop">
                    </select> 
                </p>
                <p>
                    <label for="pphoto">Photo:</label>
                    <input type="file" id="pphoto"  name="pphoto" placeholder="Photo" accept="image/*">
                </p>
                <div>
                    <p class="input_last">
                        <button type="submit" id="submit">Submit</button>
                    </p>
                </div> 
            </form>
            <div id="status_suc">
                <img src="/static/images/success.png" alt="success icon" width="50px">
                <em>Registration Success!</em> 
            </div>
            <div id="status_fail">
                <img src="/static/images/error.png" alt="success icon" width="50px">
                <em>Registration Filure!</em> 
            </div> 
        </div>
    </div>
</section>  
{% endblock %}