{% extends "base.html" %}

{% block content %}
<h1>{% block title %} Service Registration {% endblock %}</h1>
<section class="container">    
    <div class="cat">
        <div class="reg">
            <form action="" id="add_service">
                <p>
                    <label for="sname">Sevice Name:</label>
                    <input type="text" id="sname"  name="sname" placeholder="Sevice Name">
                </p>                
                <p>
                    <label for="scategory">Category:</label>
                    <select name="scategory" id="scategory">
                        <option value="Legal Service">Legal Service</option>                        
                        <option value="Cleaning Service">Cleaning Service</option>
                        <option value="Maitenance Service">Maitenance Service</option>
                        <option value="Transport Service">Transport Service</option>
                        <option value="Labour Service">Labour Service</option>
                        <option value="Education Service">Education Service</option>
                        <option value="Security Service">Security Service</option>
                        <option value="Broker Service">Broker Service</option>
                        <option value="Housing Service">Housing Service</option>
                        <option value="Dining Service">Dining Service</option>
                        <option value="Delivery Service">Delivery Service</option>
                        <option value="Beauty Service">Beauty Service</option>
                        <option value="Other Service">Other Service</option>
                    </select>
                </p>
                <p>
                    <label for="squality">Quality:</label>
                    <select name="squality" id="squality">
                        <option value="Low Quality">Low Quality (Bad hospitality, Bad equipment condition...)</option>                        
                        <option value="Medium Quality">Medium Quality (Normal hospitality, Clean equipment...)</option>
                        <option value="High quality">High Quality(Comfortable, Hospitable, Enjoyable..)</option>
                    </select>  
                </p>          
                <p>
                    <label for="sprice">Unit Price:</label>
                    <input type="text" id="sprice"  name="sprice" placeholder="Unit Price">
                </p>
                <p>
                    <label for="sprovider">Service Provider:</label>
                    <select name="sprovider" id="sprovider">
                    </select>
                </p>
                <p>
                    <label for="pphoto">Photo:</label>
                    <input type="file" id="pphoto"  name="pphoto" placeholder="Photo" accept="image/*">
                </p>
                <div>
                    <p class="input_last">
                        <button type="submit" id="submit">Submit</button>
                    </p>
                </div> 
            </form>
            <div id="status_suc">
                <img src="/static/images/success.png" alt="success icon" width="50px">
                <em>Registration Success!</em> 
            </div>
            <div id="status_fail">
                <img src="/static/images/error.png" alt="success icon" width="50px">
                <em>Registration Filure!</em> 
            </div>   
        </div>
    </div>
</section>  
{% endblock %}