{% extends "base.html" %}

{% block content %}
<h1>{% block title %} Shop Registration {% endblock %}</h1>
<section class="container">    
    <div class="cat">
        <div class="reg">
            <form action="" id = "add_shop">
                <p>
                    <label for="sowner">Shop Owner:</label>
                    <input type="text" id="sowner"  name="sowner" placeholder="Shop Owner">
                </p>
                <p>
                    <label for="sname">Shop Name:</label>
                    <input type="text" id="sname"  name="sname" placeholder="Shop Name">
                </p>                
                <p>
                    <label for="stype">Shop Type:</label>
                    <select name="stype" id="stype">
                        <option value="Shop">Shop</option>                        
                        <option value="Open Market">Open Market</option>
                        <option value="Super Market">Super Market</option>
                        <option value="Mall">Mall</option>
                        <option value="Producer">Producer</option>
                        <option value="Retailer">Retailer</option>                        
                        <option value="Service Provider">Service Provider</option>
                    </select>
                </p>
                <p>
                    <label for="pr_sv">Product/Service:</label>
                    <select name="pr_sv" id="pr_sv">
                        <option value="Vehicle">Vehicle</option>                        
                        <option value="Food and Beverage">Food and Beverage</option>
                        <option value="Office Materials">Office Materials</option>
                        <option value="Building Materials">Building Materials</option>
                        <option value="Clothing">Clothing</option>
                        <option value="Furniture">Furniture</option>                        
                        <option value="Machinary">Machinary</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Garage">Garage</option>
                        <option value="Beauty Suplies">Beauty Suplies</option>
                        <option value="Service Provider">Service Provider</option>
                    </select>
                </p>
                <p>
                    <label for="scity">City:</label>
                    <select name="scity" id="scity">
                        <option value="Addis Ababa">Addis Ababa</option>
                        <option value="Dire Dawa">Dire Dawa</option>
                        <option value="Hawassa">Hawassa</option>
                        <option value="Bahir Dar">Bahir Dar</option>
                        <option value="Semera">Semera</option>
                        <option value="Asosa">Asosa</option>
                        <option value="Gambella">Gambella</option>
                        <option value="Mekele">Mekele</option>
                        <option value="Harar">Harar</option>
                        <option value="Gigjiga">Gigjiga</option>
                    </select>
                </p>     
                <p class="input_last">
                    <label for="rlocation">Location:</label>
                    <input type="text" id="rlocation"  name="rlocation" placeholder="Location">
                    <button type="button" id="get_gps">Get Loc.</button>
                </p>
                <p>
                    <label for="pphoto">Photo:</label>
                    <input type="file" id="pphoto"  name="pphoto" placeholder="Photo" accept="image/*">
                </p>
                <div>
                    <p class="input_last">
                        <button type="submit" id="submit">Submit</button>
                    </p>
                </div> 
            </form>
            <div id="status_suc">
                <img src="/static/images/success.png" alt="success icon" width="50px">
                <em>Registration Success!</em> 
            </div>
            <div id="status_fail">
                <img src="/static/images/error.png" alt="success icon" width="50px">
                <em>Registration Filure!</em> 
            </div> 
        </div>
    </div>
</section>  
{% endblock %}