<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        {% block title %}
            Base
        {% endblock%}
    </title>
    
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/cheapr logo.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/images/cheapr logo.png" alt="Cheaper logo" width="150px">
        </div>
        <div class="navbar">
            <a href="/views/" class="{{cls_home}}">Home</a>
            <div class="subnav">
              <button class="subnavbtn">Shops <i class="fa fa-caret-down"></i></button>
              <div class="subnav-content">
                <a href="/views/add_shop">New Shop</a>
                <a href="/views/shops">Shops</a>
              </div>
            </div>
            <div class="subnav">
              <button class="subnavbtn">Products <i class="fa fa-caret-down"></i></button>
              <div class="subnav-content">
                <a href="/views/add_product">New Product</a>
                <a href="/views/add_product">Change detail</a>
                <a href="/views/goods">Products</a>
              </div>
            </div>
            <div class="subnav">
              <button class="subnavbtn"> Services <i class="fa fa-caret-down"></i></button>
              <div class="subnav-content">
                <a href="/views/add_service">New Service</a>
                <a href="/views/add_service">Change detail</a>
                <a href="/views/services">Services</a>
              </div>
            </div>
            <div class="subnav">
                <button class="subnavbtn"> Login <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                  <a href="/views/add_service">Register</a>
                  <a href="/views/add_service">Change detail</a>
                  <a href="/views/login">Login</a>
                </div>
              </div>
          </div>
        <!-- <div class="menu">
            <a class = "{{cls_home}}" href="/views/">Home</a>
            <a class = "{{cls_shop}}" href="/views/shops">Shops  <i class="fa fa-caret-down"></i></a>
            <a class = "{{cls_good}}" href="/views/goods">Goods  <i class="fa fa-caret-down"></i></a>
            <a class = "{{cls_serv}}" href="/views/services">Services  <i class="fa fa-caret-down"></i></a>
            <a class = "{{cls_promo}}" href="/views/promos">Promotions</a>
            <a class = "{{cls_promo}}" href="/views/login">Login  <i class="fa fa-caret-down"></i></a>            
        </div>
        <div class="sub_menu">
            <a href="/views/login">Login</a>
            <a href="/views/profile">User Profile</a>
            <a href="/views/login">Register</a>
        </div>        -->
    </header>
    <div class="filter">
        <form action="">
            <label for="city">City </label>
            <select name="city" id="city">
                <option value="Addis Ababa">Addis Ababa</option>
                    <option value="Dire Dawa">Dire Dawa</option>
                    <option value="Hawassa">Hawassa</option>
                    <option value="Bahir Dar">Bahir Dar</option>
                    <option value="Semera">Semera</option>
                    <option value="Asosa">Asosa</option>
                    <option value="Gambella">Gambella</option>
                    <option value="Mekele">Mekele</option>
                    <option value="Harar">Harar</option>
                    <option value="Gigjiga">Gigjiga</option>
                <option value="all">All</option>
            </select>
            <label for="type">Type</label>
            <select name="type" id="type">
                <option value="shop">Shop</option>
                <option value="good">Good</option>
                <option value="service">Service</option>
                <option value="all">All</option>
            </select>
            <input type="text" id="filter_text" placeholder="Type here...">
            <button id="search">Search</button>
        </form>
    </div>  
    {% block content%}        
        <h1>{% block tit %} Title {% endblock%}</h1>             
    {% endblock %}
    
    <footer>

    </footer>
    <script src="{{url_for('static', filename='JS/data.js')}}"></script>
    <script src="{{url_for('static', filename='JS/script.js')}}"></script>
</body>
</html>