<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        {% block title %}
            Base
        {% endblock%}
    </title>
    
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/cheapr logo.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/images/cheapr logo.png" alt="Cheaper logo" width="150px">
        </div>
        <div class="menu">
            <a class = "{{cls_home}}" href="/views/">Home</a>
            <a class = "{{cls_shop}}" href="/views/shops">Shops</a>
            <a class = "{{cls_good}}" href="/views/goods">Goods</a>
            <a class = "{{cls_serv}}" href="/views/services">Services</a>
            <a class = "{{cls_promo}}" href="/views/promos">Promotions</a>
        </div>        
    </header>
    <div class="filter">
        <form action="">
            <label for="city">City </label>
            <select name="city" id="city">
                <option value="Addis Ababa">Addis Ababa</option>
                    <option value="Dire Dawa">Dire Dawa</option>
                    <option value="Hawassa">Hawassa</option>
                    <option value="Bahir Dar">Bahir Dar</option>
                    <option value="Semera">Semera</option>
                    <option value="Asosa">Asosa</option>
                    <option value="Gambella">Gambella</option>
                    <option value="Mekele">Mekele</option>
                    <option value="Harar">Harar</option>
                    <option value="Gigjiga">Gigjiga</option>
                <option value="all">All</option>
            </select>
            <label for="type">Type</label>
            <select name="type" id="type">
                <option value="shop">Shop</option>
                <option value="good">Good</option>
                <option value="service">Service</option>
                <option value="all">All</option>
            </select>
            <input type="text" id="filter_text" placeholder="Type here...">
            <button id="search">Search</button>
        </form>
    </div>
    <script src="/static/script.js"></script>    
    {% block content%}        
        <h1>{% block tit %} Title {% endblock%}</h1>              
    {% endblock %}          
    <footer>

    </footer>
    <script src="/static/script.js"></script>
</body>
</html>