<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/cheapr logo.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/images/cheapr logo.png" alt="Cheaper logo" width="100px">
        </div>
        <div class="menu">
            <a class = "{{cls_home}}" href="/views/">Home</a>
            <a class = "{{cls_shop}}" href="/views/shops">Shops</a>
            <a class = "{{cls_good}}" href="/views/goods">Goods</a>
            <a class = "{{cls_serv}}" href="/views/services">Services</a>
            <a class = "{{cls_promo}}" href="/views/promos">Promotions</a>
        </div>
    </header>
    <script src="/static/script.js"></script>
    {% block content%}        
        <h1>{% block title%} Title {% endblock%}</h1>
        
    {% endblock %}

    <footer>

    </footer>
</body>
</html>