{% extends "base.html" %}

{% block content %}
<h1>{% block title %} Goods {% endblock %}</h1>
<section class="container">    
    <div class="category">
        <div class="table">
            <table>
                <tr>
                    <td>
                        <img src="/static/images/shop.webp" alt="shop" width=200px>
                    </td>
                    <td>
                        <p>One of the cheapest shop in the country.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/static/images/shop.webp" alt="shop" width=200px>
                    </td>
                    <td>
                        <p>One of the cheapest shop in the country.</p>
                    </td>
                </tr>

                </tr>
                
            </table>
        </div>
    </div>
</section>
{% endblock %}