{% extends "base.html" %}

{% block content %}
<h1 id = "prof_title">{% block title %} User Profile {% endblock %}</h1>
<section class="container">    
    <div class="cat">
        <div class="reg">
            <form action="" id = "frm_profile">
                <p>
                    <p>
                        <label for="rphoto">Image:</label>
                        <img id = "rphoto" src="/static/images/placeholder.jpg" width="200px" alt="">
                    </p>
                <label for="rfname">First Name:</label>
                <input type="text" id="rfname"  name="rfname" placeholder="First Name" disabled>
                </p>
                <p>
                    <label for="rmname">Middle Name:</label>
                    <input type="text" id="rmname"  name="rmname" placeholder="Middle Name" disabled>
                </p>
                
                <p>
                    <label for="rlname">Last Name:</label>
                    <input type="text" id="rlname"  name="rlname" placeholder="Last Name" disabled>
                </p>
                <p>
                    <label for="rusname">Username:</label>
                    <input type="text" id="rusname"  name="rusname" placeholder="Username" disabled>
                </p> 
                <p>
                    <label for="rcity">City of Residence:</label>
                    <input type="text" id="rcity"  name="rcity" placeholder="City" disabled>
                </p>                
                <p>
                    <label for="rtype">User Type:</label>
                    <input type="text" id="rtype"  name="rtype" placeholder="User Type" disabled>
                </p>
                <p>
                    <label for="rlocation">Location:</label>
                    <input type="text" id="rlocation"  name="rlocation" placeholder="Location" disabled>
                </p>                               
                <div>                    
                    <p class="input_last">                        
                        <button type="submit" id="submit">Edit</button>
                    </p>
                </div> 
            </form>
            <div id="status_suc">
                <img src="/static/images/success.png" alt="success icon" width="50px">
                <em><p>Registration Success!</p> 
                   <p>Please wait until the account is activated!</p>
                </em> 
            </div>
            <div id="status_fail">
                <img src="/static/images/error.png" alt="success icon" width="50px">
                <em>Registration Filure!</em> 
            </div>  
        </div>
    </div>
</section>
{% endblock %}