{% extends "base.html" %}

{% block content %}
<h1>{% block title %} User Registration {% endblock %}</h1>
<section class="container">    
    <div class="cat">
        <div class="reg">
            <form action="/api/v1/add/user" method="post">
                <p>
                <label for="rfamer">First Name:</label>
                <input type="text" id="rfname"  name="rfname" placeholder="First Name">
                </p>
                <p>
                    <label for="rmname">Middle Name:</label>
                    <input type="text" id="rmname"  name="rmname" placeholder="Middle Name">
                </p>
                
                <p>
                    <label for="rlname">Last Name:</label>
                    <input type="text" id="rlname"  name="rlname" placeholder="Last Name">
                </p>
                <p>
                    <label for="runame">Username:</label>
                    <input type="text" id="runame"  name="runame" placeholder="Username">
                </p>                
                <p>
                    <label for="rpwd">Password:</label>
                    <input type="password" id="rpwd"  name="rpwd" placeholder="Password">
                </p>
                <p>
                    <label for="rcpwd">Confirm Password:</label>
                    <input type="password" id="rcpwd"  name="rcpwd" placeholder="Password">
                </p>
                <p>
                    <label for="rcity">City of Residence:</label>
                    <select name="rcity" id="rcity">
                        <option value="Addis Ababa">Addis Ababa</option>
                        <option value="Dire Dawa">Dire Dawa</option>
                        <option value="Hawassa">Hawassa</option>
                        <option value="Bahir Dar">Bahir Dar</option>
                        <option value="Semera">Semera</option>
                        <option value="Asosa">Asosa</option>
                        <option value="Gambella">Gambella</option>
                        <option value="Mekele">Mekele</option>
                        <option value="Harar">Harar</option>
                        <option value="Gigjiga">Gigjiga</option>
                    </select>
                </p>                
                <p>
                    <label for="rtype">User Type:</label>
                    <select name="rtype" id="rtype">
                        <option value="regular">Regular</option>
                        <option value="agent">Agent</option>
                        <option value="admin">System Administrator</option>
                    </select>
                </p>
                <p class="input_last">
                    <label for="rlocation">Location:</label>
                    <input type="text" id="rlocation"  name="rlocation" placeholder="Location">
                    <button type="button" id="get_gps">Get Loc.</button>
                </p>
                <div>
                    <p class="input_last">
                        <button type="submit" id="submit">Submit</button>
                    </p>
                </div> 
            </form>  
        </div>
    </div>
</section>  
{% endblock %}